/* You can add global styles to this file, and also import other style files */
@import "./app/scss/variables";

$general-background: $lightest;

html, body {
    height: 100%;
}

* {
    font-family: 'Lato', sans-serif;
}

body {
    background: $general-background;
}


.tag{
    background: $color;
    border-radius: 2px;
    margin: 0 10px;
    padding: 4px;
    display: inline-block;
    font-size: 14px;
}